{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "compact": false
}