.__select {
    position: relative;
    height: 40px;
    width: fit-content;
    max-height: fit-content;
    border-bottom: solid 2px #666;
    display: flex;

    &:hover {
        background-color: #eef;
    }

    >.__placeholder {
        content: attr(data-text);
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 2px;
        font-size: 0.95em;
        text-transform: none;

        &::after {
            display: inline-flex;
            height: 100%;
            font-size: 0.65em;
            align-items: center;
            justify-content: center;
            content: '\25BC';
            margin-left: auto;
            color: #666;
        }
    }
}

body {
    >.__mask {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
        top: 0;
        left: 0;
    }

    >.__options {
        width: fit-content;
        margin: 0 !important;
        display: block;
        position: fixed;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 30, 0.6);
        top: 0;
        left: 0;
        background-color: white;
        overflow: hidden;
        z-index: 9999;

        >.__option {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            cursor: default;
            padding: 0 5px;
            box-sizing: border-box;
            white-space: pre-wrap;

            &.__selected,
            &.__selected:hover {
                background-color: #96f;
                color: white;
            }

            &:hover {
                background-color: #fcf;
            }
        }
    }
}