.bubble {
  position: absolute;
  transform-origin: center;
  border-radius: 50%;
  background-color: rgba($color: #000000, $alpha: 0.3);

  &.animate {
    animation: grow 600ms ease 1;
  }
}

.bubbling {
  position: relative;
  overflow: hidden;
}

.toggler-wrapper {
  position: relative;
  display: block;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  background-color: #99f;
  cursor: pointer;
  user-select: none;

  *:focus {
    outline: none !important;
  }


  >span {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f99;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    transform: translate3d(0, 0, 0);
    transition: all 300ms ease;
    margin: 0 !important;
  }

  >input[type=checkbox]:checked {
    &+span.toggler_btn {
      background-color: rgb(125, 218, 133);
      transform: translate3d(100%, 0, 0);
    }
  }
}

.rangeSlider-wrapper {
  position: relative;
  height: 4px;
  background-color: #99f;
  margin: 13px 5px;
  cursor: pointer;
  user-select: none;

  *:focus,
  &:focus {
    outline: none !important;
  }

  >span {
    position: absolute;
    top: -5.5px;
    left: -7.5px;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f99;

    &::after {
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 6px;
      left: 5px;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      content: attr(data-value);
      font-size: 0.8rem;
      font-weight: bold;
      color: white;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      transition: all 300ms ease-out;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
    }

  }

  &.active,
  &:active {
    >span {
      &::after {
        background-color: inherit;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
  }

  &.small {
    height: 2px;
    margin: 18px 5px;

    >span {
      top: -5px;
      left: -6px;
      height: 12px;
      width: 12px;
    }
  }
}

.__toolTip {
  position: fixed !important;
  margin: 0 !important;
  width: fit-content;
  height: fit-content;
  background-color: rgb(116, 116, 209);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  width: fit-content;
  max-width: 220px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
  transition: all 100ms ease;
  transform: scale(1) rotate(0deg);
  pointer-events: none;
  z-index: 999;
  font-size: 0.85rem;
  opacity: 0;

  &.__visible {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    animation: spring 100ms ease 1;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    transform-origin: center;
    height: 12px;
    width: 12px;
    background-color: inherit;
    transform: rotate(45deg);
  }

  &.left::before {
    right: -6px;
  }

  &.right::before {
    left: -6px;
  }

  &.top::before {
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &.bottom::before {
    top: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@keyframes spring {
  0% {
    transform: scale(0.8) rotate(0deg);
  }

  80% {
    transform: scale(1.2) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0) translate3d(0, 0, 0);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.2) translate3d(0, 0, 0);
  }
}

.__select {
  position: relative;
  height: 40px;
  width: fit-content;
  max-height: fit-content;
  border-bottom: solid 2px #666;
  display: flex;

  &:hover {
    background-color: #eef;
  }

  >.__placeholder {
    content: attr(data-text);
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2px;
    font-size: 0.95em;
    text-transform: none;

    &::after {
      display: inline-flex;
      height: 100%;
      font-size: 0.65em;
      align-items: center;
      justify-content: center;
      content: '\25BC';
      margin-left: auto;
      color: #666;
    }
  }


}

body {
  >.__mask {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  >.__options {
    width: fit-content;
    margin: 0 !important;
    display: block;
    position: fixed;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 30, 0.6);
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 9999;

    >.__option {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      cursor: default;
      padding: 0 5px;
      box-sizing: border-box;
      white-space: pre-wrap;

      &.__selected,
      &.__selected:hover {
        background-color: #96f;
        color: white;
      }

      &:hover {
        background-color: #fcf;
      }
    }
  }
}