.rangeSlider-wrapper {
    position: relative;
    height: 4px;
    background-color: #99f;
    margin: 20px 5px;
    cursor: pointer;
    user-select: none;

    &.hide-text {
        >span::after {
            font-size: 0;
        }
    }

    *:focus,
    &:focus {
        outline: none !important;
    }

    >span {
        position: absolute;
        top: -5.5px;
        left: -7.5px;
        display: block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #f99;

        &::after {
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            top: 6px;
            left: 5px;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            content: attr(data-value);
            font-size: 0.8rem;
            font-weight: bold;
            color: white;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: all 300ms ease-out;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
        }

    }

    &.active,
    &:active {
        >span {
            &::after {
                background-color: inherit;
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }
    }

    &.small {
        height: 2px;
        margin: 20px 5px;

        >span {
            top: -5px;
            left: -6px;
            height: 12px;
            width: 12px;
        }
    }

    &.big {
        height: 6px;
        margin: 20px 5px;

        >span {
            top: -6px;
            left: -6px;
            height: 18px;
            width: 18px;
        }
    }
}