.__toolTip {
    position: fixed !important;
    margin: 0 !important;
    width: fit-content;
    height: fit-content;
    background-color: rgb(116, 116, 209);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    max-width: 220px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line !important;
    transition: all 100ms ease !important;
    transform: scale(1) rotate(0deg) !important;
    pointer-events: none !important;
    z-index: 999;
    font-size: 0.85rem;
    opacity: 0;

    &.__visible {
        opacity: 1 !important;
        transform: scale(1) rotate(0deg) !important;
        animation: spring 100ms ease 1 !important;
    }

    &::before {
        content: '';
        z-index: -1 !important;
        position: absolute !important;
        transform-origin: center !important;
        height: 12px;
        width: 12px;
        background-color: inherit;
        transform: rotate(45deg) !important;
    }

    &.left,
    &.right {
        &::before {
            margin: auto 0 !important;
            top: 0 !important;
            bottom: 0 !important;
        }
    }

    &.top,
    &.bottom {
        &::before {
            margin: 0 auto !important;
            left: 0 !important;
            right: 0 !important;
        }
    }

    &.left::before {
        right: -6px;
    }

    &.right::before {
        left: -6px;
    }

    &.top::before {
        bottom: -6px;
    }

    &.bottom::before {
        top: -6px;
    }
}

@keyframes spring {
    0% {
        transform: scale(0.8) rotate(0deg);
    }

    80% {
        transform: scale(1.2) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}